

body{
    font-family: 'Poppins', sans-serif;
}
.main-section{
    width: 50%;
    margin:  auto;

}

.images-tags img{
    
    width: 32.5%;
    height: 30%;
}

.example-card {
    margin: 20px 0;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(123, 122, 122, 0.167);
}

.example-body{
    line-height: 30px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 3px;
    border-left: 5px solid green;
}
.example-body p{
    font-weight: bold;
    color: blue;
}
span{
    color: red;
}

.video{
    margin: 100px 0;
}
video {
    width: 100%;
    border: 1px solid green;
    background-color: black;
    border-radius: 3px;
}

.Audio{
    margin-bottom: 100px;
}